.hero-container {
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center; }

.hero-img {
  width: 100%;
  height: inherit;
  object-fit: cover; }

.hero-info {
  text-align: center;
  position: absolute;
  top: 25%;
  padding: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; }

.hero-button {
  border: 2px solid #6d946d;
  border-radius: 8px;
  cursor: pointer;
  width: 145px;
  height: 60px;
  padding: 8px; }

@media (min-width: 800px) {
  .hero-info {
    margin-top: 20px; }
  .hero-info h1 {
    font-size: 50px; }
  .hero-info h4 {
    font-size: 25px; }
  .hero-button {
    height: 60px;
    width: 180px; } }
