@import ".././themes/theme.scss";

select{
  background: white;
  color: black;
  width: 250px;
  font-family: $font-family-text;
  font-size: 12px;
  height: 30px;
  margin-bottom: 30px;
}

.input-content {
  width: 100%;
  padding: 30px;
  background-image: url(../images/input-monstera.jpg);
  background-size: cover;
  background-position: center;
}

.input-content h3 {
  color: white;
}

@media (min-width:800px) {
  select {
    width: 300px;
  }
  .input-content {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 250px;
    align-items: center;
  }
}
