select{
  background: white;
  color: blue;
  // width: 400px;
  height: 40px;
}

.input-content {
  width: 100%;
  // background: red;
  padding: 30px;
  background-color: pink;
  margin-top: 50px;
  background-image: url(../images/blomma2.jpg);
  background-size: cover;
}

.input-content h3{
  display: inline-block;
}
