select {
  background: white;
  color: blue;
  height: 40px;
font-family: fantasy;
font-size: 20px;}

.input-content {
  width: 100%;
  padding: 30px;
  background-color: pink;
  margin-top: 50px;
  background-image: url(../images/input-monstera.jpg);
  background-size: cover;
background-position: center;}

.input-content h3 {
  display: inline-block; }
