.plant-container {
  width: 100%;
  padding: 30px;

}

.image-container {
  width: 100%;
  height: auto;
  margin: 0px;
}

.image-container img {
  width: 100%;
}

//
// .info-container {
//
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-end;
// }
//
// .info-container p h3 {
//
// }

@media (min-width:800px) {
  // .plant-container{
  //   width: 45%;
  // }
  .plant-container{
    display: flex;
    flex-wrap: wrap;
  }

  .image-container{
    width: 50%;
  }

  .info-container{
    width: 50%;
  }
}
