.main-box {
  width: 100%;
  // background: yellow;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-between;

  height: auto;
  padding: 30px;
}

@media (min-width:800px) {
  .main-box{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
  }
}
