@import "../.././themes/padding.scss";

.main-box {
  width: 100%;
  height: auto;
  padding: $standard-padding;
}

.list-content {
  margin-top: $standard-padding;
  text-align: center;
}

.no-match {
  width: 100%;
  padding-top: 100px;
  text-align: center;
}

@media (min-width:800px) {
  .main-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
