@import "../.././themes/theme.scss";
@import "../.././themes/padding.scss";

select{
  background: white;
  color: black;
  width: 250px;
  font-family: $font-family-text;
  font-size: $size-text;
  height: 30px;
  margin-bottom: 30px;
  border: .0625rem solid #e6e4eb;
}

.input-content {
  width: 100%;
  padding: $standard-padding;
  background-image: url(../../images/input-monstera.jpg);
  background-size: cover;
  background-position: center;
}

.input-content h3 {
  color: white;
  font-family: $font-family-text;
  font-weight: 300;
}

.input-info{
  background: #fdfdd8;
  padding: $standard-padding;
  text-align: center;
  // height: 300px;
}

@media (min-width:800px) {
  select {
    width: 300px;
  }
  .input-content {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 250px;
    align-items: center;
  }
}
