* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #dfe9e5; }

h1 {
  font-family: "Bad Script", cursive;
  color: #6d946d;
  font-size: 30px;
  margin: 0px; }

h3 {
  color: #6d946d;
  font-family: "Bad Script", cursive;
  font-size: 20px;
  margin: 0px; }

.hero-button {
  color: #6d946d;
  font-family: "Bad Script", cursive;
  font-size: 14px; }

p {
  font-size: 14px;
  font-family: "Dosis", sans-serif;
  color: #7d7676; }

a {
  text-decoration: none;
  cursor: pointer; }

h5 {
  display: inline-block;
  font-size: 14px;
  color: #7d7676;
  font-family: "Bad Script", cursive;
  margin: 0px; }

@media (min-width: 800px) {
  p, h5 {
    font-size: 16px; }
  h1 {
    font-size: 50px; }
  h3 {
    font-size: 25px; } }
