@import "./themes/theme.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: $background-color;
}

h1 {
   font-family: $font-headers;
   color: $hero-color;
   font-size: 30px;
   margin: 0px;
 }

h3 {
  color:#6d946d;
  // text-shadow:$text-shadow;
  font-family: $font-headers;
  font-size: $size-headers;
  margin: 0px;
}

.hero-button{
  color: $hero-color;
  font-family: $font-headers;
  font-size: $size-text;

}

h4{
font-family: $font-headers;
 color: $hero-color;
 font-size: 20px;
 margin: 0px;
}

p {
  font-size: $size-text;
  font-family: $font-family-text;
  color: $text-color;
}

a {
  text-decoration: none;
  cursor: pointer;
}

@media (min-width:800px) {
  p {
    font-size: $size-text-dectop;
  }
}
