@import "./themes/theme.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: $background-color;
}

h3 {
  color:$text-color;
  text-shadow:$text-shadow;
  font-family: $font-headers;
  font-size: $size-headers;
}
