@import "./themes/theme.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: $background-color;
  letter-spacing: 0.2px;
}

h1 {
   font-family: $font-headers;
   color: $hero-color;
   font-size: $size-hero;
   margin: 0px;
 }

h3 {
  color: $hero-color;
  font-family: $font-headers;
  font-size: $size-headers;
  margin: 0px;
}

h5 {
  display: inline-block;
  font-size: $size-text;
  color: $text-color;
  font-family: $font-headers;
  margin: 0px;
}

p {
  font-size: $size-text;
  font-family: $font-family-text;
  color: $text-color;
  line-height: 1.5;
  font-weight: 300;

}

a {
  text-decoration: none;
  cursor: pointer;
}

.hero-button{
  color: $hero-color;
  font-family: $font-headers;
  font-size: $size-text;
}


@media (min-width:800px) {
  p, h5 {
    font-size: $size-text-desctop;
  }
  h1 {
    font-size: $size-hero-desctop;
  }
  h3 {
    font-size: $size-headers-desctop;
  }
}
