@import "../.././themes/padding.scss";

.plant-container {
  width: 100%;
  padding: $standard-padding;
}

.image-container {
  width: 100%;
  height: auto;
  margin: 0px;
}

.image-container img {
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}

.breadCrumb {
  margin-left: $standard-padding;
}

.info-container {
  padding-top: $standard-padding;
}


@media (min-width:800px) {
  .plant-container{
    display: flex;
    flex-wrap: wrap;
  }

  .image-container{
    width: 50%;
  }

  .info-container{
    width: 50%;
    padding: 0px $standard-padding;
  }
}
