@import "../.././themes/padding.scss";

.plant-container {
  width: 100%;
  padding: $standard-padding;
}

.image-container {
  width: 100%;
  height: auto;
  margin: 0px;
}

.image-container img {
  width: 100%;
}

.breadCrumb {
  margin-left: $standard-padding;
}

b {
  font-weight: 600;
}

@media (min-width:800px) {
  .plant-container{
    display: flex;
    flex-wrap: wrap;
  }

  .image-container{
    width: 50%;
  }

  .info-container{
    width: 50%;
    padding: $standard-padding;
  }
}
